<div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-t-55 p-b-35 respon1" style="background-size:cover;background-image:url('{{ site.baseurl }}/images/bg.jpg');">
    <span></span>
    <div class="flex-col-c p-t-50 p-b-50">
        <h3 class="l1-txt1 txt-center p-b-10">
            The Festival of <span class="gradient-text">Co</span><span class="gradient-text-1">lo</span><span class="gradient-text-2">rs</span><span class="gradient-text-3">!</span>
        </h3>

        <p class="txt-center l1-txt2 p-b-60">
            celebrate this holi with lots of <span class="gradient-text">joy</span> and <span class="gradient-text">madness!</span>
        </p>

        <div class="flex-w flex-c cd100 p-b-82">
            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt3 p-b-9 days gradient-text">13</span>
                <span class="s1-txt1 gradient-text">Days</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt3 p-b-9 hours gradient-text-1">2</span>
                <span class="s1-txt1 gradient-text-1">Hours</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt3 p-b-9 minutes gradient-text-2">3</span>
                <span class="s1-txt1 gradient-text-2">Minutes</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt3 p-b-9 seconds gradient-text-3">59</span>
                <span class="s1-txt1 gradient-text-3">Seconds</span>
            </div>
        </div>

        <button class="flex-c-m s1-txt2 size3 how-btn"  data-toggle="modal" data-target="#subscribe">
            About Navodhan
        </button>
    </div>